body {
  margin: 10px;
}

.header h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 10px;
}

.header h2 {
  font-size: 2rem;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.game-container p {
  margin-left: 20px;
  font-size: 1.5rem;
}

img {
  height: 175px;
  width: 150px;
  margin-bottom: 20px;
}

#player-character {
  float: left;
  display: block;
}

#player-character h3,
#defender-character h3 {
  text-align: center;
}

#player-character p,
#defender-character p {
  text-align: center;
}

#defender-character {
  float: left;
  display: block
}

.game-arena-container {
  display: block;
  height: 300px;
}

.display-game-image,
.display-defender-game-image {
  border: blue 7px solid;
}

.character-container,
.defender-container {
  margin: 5px 20px 20px 20px;
  background: yellow;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 1400px;
  height: 250px;
  display: block;
}

.button-container {
  margin: 30px;
}

#player-character {
  padding-left: 100px
}

.game-arena-container img {
  margin: 10px
}

#game-attack-message {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

button {
  color: white;
  background-color: grey;
  font-family: Arial;
  font-size: 30px;
  padding: 5px;
}
