body {
  background-image: url('../images/background.jpg');
  background-size: cover;
}

.header h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 10px;
}

.header h2 {
  background: rgba(255, 255, 255, .55);
  font-size: 2rem;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(80, 79, 79);
}

.character-list-image {
  /* background: rgba(255, 255, 255, .55); */
}

.game-container p {
  background: rgba(255, 255, 255, .55);
  text-align: center;
  font-size: 1.5rem;
  width: 300px;
  margin: auto;
  padding: 20px;
  border: grey 2px solid;
}

#battle-arena p {
  text-align: center;
  font-size: 2rem;
}

img {
  height: 175px;
  width: 150px;
  margin-bottom: 20px;
  border: 7px black solid;
}

img:hover {
  border: 7px white solid;
  cursor: pointer;
}

#player-character {
  float: left;
  display: block;
}

#player-character h3,
#defender-character h3 {
  text-align: center;
  font-size: 2rem;
}

#player-character p,
#defender-character p {
  text-align: center;
}

#defender-character {
  float: left;
  display: block
}

.game-arena-container {
  display: block;
  height: 350px;
  margin-left: 20px;
}

#battle-arena p .display-game-image,
.display-defender-game-image {
  border: black 7px solid;
}

.character-container,
.defender-container {
  margin: 5px 20px 20px 20px;
  /* background: rgba(255, 255, 255, .55); */
  /* background: yellow; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 1400px;
  height: 250px;
  display: block;
}

.game-arena-container {
  background: rgba(255, 255, 255, .55);
}

.attack-button-container {
  margin: 5px 30px 2px 60px;
}

.replay-game-button-container {
  margin: 5px 30px 2px 50px;
}

button {
  color: white;
  background-color: grey;
  font-family: Arial;
  font-size: 30px;
  padding: 10px;
  margin-left: 190px;
}

#player-character {
  padding-left: 100px;
}

.game-arena-container img {
  margin: 10px
}

#game-attack-message {
  text-align: center;
  font-size: 1.5rem;
  margin: auto;
  padding: 10px;
  /* border: grey 2px solid; */
  width: 600px;
}

/* #character-list-image {
  background: red;
  text-align: center;
}

*/
