img {
  height: 250px;
  width: 200px;
  margin-bottom: 20px;
}

#player-character {
  float: left;
  display: block;
}

#defender-character {
  float: left;
  display: block
}

.character-container,
.defender-container,
.game-arena-container {
  display: block;
  height: 300px;
}

.display-game-image {
  content: attr("character-name");
  border: blue 20px solid;
}

img#0.display-game-image {
  border: red 40px solid;
}

.character-container {
  margin: 30px 20px 20px 20px;
  background: yellow;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 1400px;
  height: 325px;
  display: block;
}

#character-list-image {
  text-align: left;
}

img {
  text-align: left;
}

.defender-container h1 {
  margin: 15px;
}

.button-container {
  margin: 30px;
}
